
<!-- footer navigation -->
<footer><a href="#">
        <ion-icon name="settings"></ion-icon>
    </a><a href="#">
        <ion-icon name="copy"></ion-icon>
    </a><a href="#">
        <ion-icon name="chatbubbles"></ion-icon>
    </a></footer>