<section class="zoeken">
	<div>
		<p>
			Ik ben op zoek naar een 
		</p>
		{{#each searchDB}}
			<label>
				{{this.geslacht}}
			</label>
		{{/each}}
		<p>
		van 
		</p>
		{{#each searchDB}}
			<label>
				{{this.leeftijd}}
			</label>
		{{/each}}
		<p>
			met de nationaliteit
		</p>
		{{#each searchDB}}
			<label>
				{{this.nationaliteit}}
			</label>
		{{/each}} 
		<p>
			en deze interesses:
		</p>
		<div>
			{{#each searchDB.document.interesses}}
				<label>
					{{this}}
				</label>
			{{/each}}
		</div>
	</div>
</section>