<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Danny Frelink">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Profiel</title>

    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>

      {{{body}}}

      <script src="/js/script.js"></script>
  </body>
</html>