<form class="fotos" action="/profiel/fotos" method="POST" enctype="multipart/form-data">
    <input type="file" id="pfImage" name="fotos" value="pfImage" accept="image/*" required>
    <div>
        <label for="pfImage"><p>+</p></label>
        <div>
			   <input type="file" id="extraImage1" name="fotos" value="extraImage1" accept="image/*">
            <label for="extraImage1"><p>+</p></label>
            <input type="file" id="extraImage2" name="fotos" value="extraImage2" accept="image/*">
            <label for="extraImage2"><p>+</p></label>
        </div>
    </div>
    <div>
        <input type="file" id="extraImage3" name="fotos" value="extraImage3" accept="image/*">
        <label for="extraImage3"><p>+</p></label>
        <input type="file" id="extraImage4" name="fotos" value="extraImage4" accept="image/*">
        <label for="extraImage4"><p>+</p></label>
        <input type="file" id="extraImage5" name="fotos" value="extraImage5" accept="image/*">
        <label for="extraImage5"><p>+</p></label>
    </div>
    <div>
        <input type="file" id="extraImage6" name="fotos" value="extraImage6" accept="image/*">
        <label for="extraImage6"><p>+</p></label>
    </div>
    {{!-- Navigatie pijlen --}}
    <div>
        <button><img src="images/pijl-volgende.png" alt="Volgende pagina"></button>
    </div>

</form>

<footer>
    <img src="images/footer/persoonsgegevens-groen.png" alt="Gegevens icoon groen">
    <img src="images/footer/stip-groen.png" alt="Stip groen">
    <img src="images/footer/fotos-wit.png" alt="Foto icoon wit">
    <img src="images/footer/stip-wit.png" alt="Stip wit">
    <img src="images/footer/zoekopdracht-opacity.png" alt="Zoek icoon doorzichtig">
    <img src="images/footer/stip-wit.png" alt="Stip wit">
    <img src="images/footer/reizen-opacity.png" alt="Reis icoon doorzichtig">
</footer>
