<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/head'); %>
</head>
<body>
    <header>
      <div class="blue-top"></div>
    </header>
   
    <form method="POST" action="like.ejs">
        <button type="button" value="true" id="btn">Knop</button>
    </form> 

    <ul>
        <% users.forEach(function(users) { %>
            <li>
                <img src="images/app/girl5.svg">
                <%= users.name %>
            </li>
        <% }); %>
    </ul>

    <script src="/script.js"></script>
</body>
</html>