<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/head'); %>
</head>
<body>
    <div class="blue-top"></div>
    <form method="POST">
        <button type="submit">Knop</button>
    </form> 
</body>
</html>