<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="style.css">
    <title>Explore</title>
</head>
<body>
    <header>
        <%- include('layout/header'); -%>

    </header>
    <ul>
        <li>
   
        </li>
    </ul>
    <footer>
        <%- include ('layout/footer'); -%>


    </footer>
</body>
</html>