<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<header>
    <img src="img/banner.svg" alt="header">


<h2>jfdlksajfl;kdasjfl;kdsjfkl;</h2>
</header>

    
</body>
</html>