<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/head'); %>
</head>
<body>
    <div class="blue-top"></div>

    <h2> <%- title %> </h2>

    <div class='container'>
        <label class="switch">
            <input type="checkbox" checked>
                <span class="slider"></span>
        </label>
    </div>

    <p> <%= results %> people liked you</p>

    <ul>
        <% people.forEach(function(people) { %>
            <li>
                <img src="images/app/girl5.svg">
                <%= people.name %>
            </li>
        <% }); %>
    </ul>
</body>
</html>