{{>persoon}}

{{>fotos}}

{{>zoeken}}

{{!-- Navigatie pijlen --}}
<section>
    <a href="/reizen"><img src="../images/pijl-volgende.png" alt="Volgende pagina"></a>
</section>

<footer>
    <img src="../images/footer/persoonsgegevens-groen.png" alt="Gegevens icoon groen">
    <img src="../images/footer/stip-groen.png" alt="Stip groen">
    <img src="../images/footer/fotos-groen.png" alt="Foto icoon groen">
    <img src="../images/footer/stip-groen.png" alt="Stip groen">
    <img src="../images/footer/zoekopdracht-groen.png" alt="Zoek icoon groen">
    <img src="../images/footer/stip-wit.png" alt="Stip wit">
    <img src="../images/footer/reizen-opacity.png" alt="Reis icoon doorzichtig">
</footer>