<!-- Persoonsgegevens -->
<form action="/fotos" method="POST">
    <label for="name">Voor- en achternaam</label>
    <input type="text" name="name" placeholder="Pieter van der Meer" required>
    <div>
        <div>
            <label for="nation">Nationaliteit</label>
            <select name="nation" required>
					<option value="" hidden>Kies een land</option>
					{{#each countries}}
						<option value="{{this.name}}">{{this.name}}</option>
					{{/each}}
            </select>
            <label for="geboorte">Geboortedatum</label>
            <input type="date" name="geboorte" required>
            <label for="geslacht">Geslacht</label>
            <select name="geslacht" required>
                <option value="" hidden>Kies een geslacht</option>
                <option value="Man">Man</option>
                <option value="Vrouw">Vrouw</option>
                <option value="Wil ik niet zeggen">Wil ik niet zeggen</option>
            </select>
        </div>
        <div>
            <label for="bio">Vertel iets over jezelf</label>
            <textarea name="bio" placeholder="Ik hou van ..." required></textarea>
        </div>
    </div>
    {{!-- Navigatie pijlen --}}
    <div>
        <button><img src="images/pijl-volgende.png" alt="Volgende pagina"></button>
    </div>
</form>

<footer>
    <img src="images/footer/persoonsgegevens-wit.png" alt="Gegevens icoon wit">
    <img src="images/footer/stip-wit.png" alt="Stip wit">
    <img src="images/footer/fotos-opacity.png" alt="Foto icoon doorzichtig">
    <img src="images/footer/stip-wit.png" alt="Stip wit">
    <img src="images/footer/zoekopdracht-opacity.png" alt="Zoek icoon doorzichtig">
    <img src="images/footer/stip-wit.png" alt="Stip wit">
    <img src="images/footer/reizen-opacity.png" alt="Reis icoon doorzichtig">
</footer>