html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  overflow-x: hidden;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
/* fonts source: fonts.google.com */
/*font-family: 'Dosis', sans-serif;*/
.like-dislike-buttonStyle {
  position: absolute;
  bottom: 2%;
  border: none;
  background-color: #5A7DEC;
  padding: 0.3em 0.8em;
  border-radius: 20%;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.12);
}
.positionBottom {
  position: absolute;
  bottom: 0;
}
.flex-box-alignItemsCenter {
  display: flex;
  align-items: center;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons {
  font-weight: bold;
}
header {
  background-color: #5A7DEC;
  width: 100%;
  height: 10vh;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}
.profile header {
  position: absolute;
}
.explore {
  font-family: 'Poppins', sans-serif;
}
.explore .logo {
  margin-left: 2.5em;
}
.explore .logo h2 {
  font-size: 0.8em;
}
.explore h1 {
  color: #5A7DEC;
  font-size: 2.6em;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.2em;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 0.2em;
}
.explore .filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em 2.5em 0 2.5em;
}
.explore .filter-button {
  color: #FF6A6A;
  background-color: #ffffff;
  padding: 0em;
  border: none;
}
.explore .filter-results {
  font-size: 1.4em;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}
.explore section:nth-of-type(2) > ul {
  margin-left: 0.5em;
  width: fit-content;
}
.explore section:nth-of-type(2) ul li {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/assets/sport-example.jpeg);
  /* image source, pexels: https://www.pexels.com/nl-nl/foto/bladeren-op-bestrating-naast-hek-1645840/*/
  background-size: cover;
  width: 22em;
  height: 28em;
  border-radius: 10px;
  color: #ffffff;
  position: relative;
  margin-left: 1.5em;
}
.explore .like-button,
.explore .dislike-button {
  position: absolute;
  bottom: 2%;
  border: none;
  background-color: #5A7DEC;
  padding: 0.3em 0.8em;
  border-radius: 20%;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.12);
}
.explore .like-button {
  right: 10%;
  color: #ffffff;
}
.explore .dislike-button {
  left: 10%;
  color: #ffffff;
}
.explore .cards li section {
  position: absolute;
  bottom: 0;
  padding: 0.5em 0.7em 4em 0.7em;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-family: 'Dosis', sans-serif;
}
.explore .cards li section p {
  line-height: 1.2em;
}
.explore .cards li section p:first-of-type {
  font-size: 2em;
}
.explore .cards li section p:nth-of-type(2) {
  font-size: 1.2em;
}
.explore .cards li section p:nth-of-type(3) {
  font-size: 0.8em;
  margin-bottom: 0.5em;
  font-family: 'Poppins', sans-serif;
}
.explore .filters-hidden {
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  top: 0;
  width: 100%;
  color: #000000;
  transform: translateY(-100%);
  transition: 1s;
  overflow: hidden;
}
.explore .filters-hidden nav ul {
  margin-top: 2em;
  margin-bottom: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.explore .filters-hidden nav ul li button {
  border: none;
  border-radius: 3px;
  padding: 0.5em;
  background-color: #D3DEFF;
  color: #5A7DEC;
}
.explore .filters-show {
  transform: translate(0%);
}
.explore .filters-hidden h2 {
  font-size: 2em;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  color: #5A7DEC;
}
.explore form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.explore label {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 1.5em 0 0.5em 0;
  display: block;
}
.explore form input,
.explore select {
  width: 25em;
  height: 3em;
  border: solid 1px #5A7DEC;
  border-radius: 3px;
  background-color: #ffffff;
  text-align: center;
  display: block;
}
.explore input[type='submit'] {
  position: fixed;
  top: 90%;
  right: 50%;
  transform: translate(50%, -50%);
  border: none;
  border-radius: 3px;
  background-color: #FF6A6A;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  width: 17em;
}
.explore output {
  font-family: 'Poppins', sans-serif;
}
.likes {
  width: 100%;
  height: auto;
  font-family: 'Dosis', sans-serif;
  padding: 0;
  margin: 0;
}
.likes h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400%;
  text-align: center;
  font-size: 2em;
}
.likes div {
  display: flex;
  justify-content: center;
}
.likes p {
  text-align: center;
}
.likes ul {
  perspective: 200;
  -webkit-perspective: 200;
  height: auto;
  list-style-type: none;
  padding: 0;
  margin: 4em auto 5em;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.likes ul li {
  transform: rotateX(0.5deg);
  -webkit-transform: rotateX(0.5deg);
  border-radius: 1em;
  margin-bottom: 1.5em;
  display: flex;
  box-shadow: 0px 4px 1px #000000;
  background-color: #D3DEFF;
}
.likes ul li:hover {
  color: #5A7DEC;
}
.likes ul li img {
  margin-right: 1em;
  height: 10vh;
  padding: 0.5em;
}
.likes ul li p {
  padding: 0;
  font-size: 1.5em;
  align-self: center;
}
.likes .container {
  color: #ffffff;
  background-color: #D3DEFF;
  border-radius: 1em;
  width: 50%;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-evenly;
}
.likes #likes,
.likes #matches {
  text-align: center;
  font-size: 1.5em;
  border-radius: 0.5em;
}
.likes .like,
.likes .match {
  background-color: #5A7DEC;
  transition: 0.1s;
  padding: 0 1em;
}
.profile {
  overflow-x: hidden;
  width: 85vw;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}
.profile h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 2em;
  font-size: 2em;
}
.profile input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.profile form div {
  display: flex;
}
.profile form div:not(:first-of-type) {
  margin-top: 0.6em;
  flex-direction: column;
}
.profile form div:first-of-type {
  align-items: center;
  margin-bottom: 1em;
}
.profile form div:first-of-type label:nth-of-type(2) {
  max-height: 4.925em;
  margin-left: 0.5em;
  text-decoration: underline;
}
.profile form div:first-of-type label p,
.profile form div:first-of-type label img {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 0.25em;
  font-size: 3em;
  height: 1.6em;
  margin: 0;
}
.profile form div:first-of-type label p {
  width: 1.15em;
  padding-left: 0.45em;
  line-height: 1.7em;
}
.profile form div:first-of-type label img {
  object-fit: cover;
  width: 1.6em;
}
.profile form textarea {
  height: 7em;
}
.profile form button {
  background-color: #FF6A6A;
  color: #ffffff;
  border: none;
  border-radius: 0.25em;
  width: 70vw;
  font-size: 1.3em;
  height: 2.5em;
  margin: 2em 7.5vw 5em;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
  padding: 0.4em;
  -webkit-box-shadow: 0px -2px 6px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 6px -4px rgba(0, 0, 0, 0.3);
}
footer span {
  color: #5A7DEC;
  font-family: 'Material Icons';
}
