html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-image: linear-gradient(#95D8EA, #529ECC);
	background-attachment: fixed;
}

body {
	position: relative;
	height: 100vh;
	width: 90vw;
	margin: auto;
	overflow: hidden;
}

/* Persoonsgegevens */
form {
	margin: 2em auto 1em;
	display: flex;
	flex-direction: column;
}
form div {
	display: flex;
	flex-direction: column;
}
form>div {
	flex-direction: row;
	justify-content: space-between;
}
form input,
form select,
form textarea {
	margin-bottom: 0.5em;
}
form>input {
	width: 60vw;
}
form div div:first-of-type {
	width: 37vw;
}
form div div:nth-of-type(2) {
	width: 48vw;
}
form div div:nth-of-type(2) textarea {
	height: 100%;
}
form button {
	position: absolute;
	bottom: 4.6em;
	right: 0;
	background-color: transparent;
	border: none;
	padding: 0;
}
form button img {
	width: 3.08em;
	height: 3.08em;
}
form img {
	background-color: #A9DEEA;
	padding: 0.2em;
	width: 2.5em;
	height: 2.5em;
	margin: 0;
	border-radius: 10vw;
	border: 1px solid black;
}
form>div:nth-of-type(2)>img {
	position: absolute;
	bottom: 4em;
	left: 0;
}
::placeholder {
	opacity: 0.8;
}

/* Profielpagina 1 */
section:first-of-type {
	display: flex;
	margin-bottom: 1.5em;
}
section img {
	object-fit: cover;
	border: 1px solid black;
}
section>img {
	width: 8em;
	height: 8em;
}
section div {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
section div img {
	width: 3.5em;
	height: 3.5em;
	margin: 0 0.3em;
}
section div img:nth-of-type(4),
section div img:nth-of-type(5),
section div img:nth-of-type(6) {
	margin-top: auto;
}

section:not(:first-of-type) {
	background-color: white;
	border: 1px solid black;
	margin-bottom: 1.5em;
}
section p {
	margin: 0.5em 0.2em;
}

section:last-of-type {
	border: none;
}
section:last-of-type img {
	width: 2.5em;
	height: 2.5em;
	padding: 0.2em;
	border-radius: 10vw;
	border: 1px solid black;
	background-color: #A9DEEA;
	margin: 0;
}
section:last-of-type>img {
	position: absolute;
	bottom: 4em;
	left: 0;
}
section:last-of-type a {
	position: absolute;
	bottom: 3.75em;
	right: 0;
	margin: 0;
}
section.landen,
section.zoeken {
	font-size: 0.9em;
	border: 1px solid black;
}
section.landen div {
	margin-top: 0.3em;
}
section.landen div,
section.zoeken div {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
section.landen label,
section.zoeken label {
	background-color: #B4DAA1;
	border: 1px solid black;
	padding: 0.15em 0.5em;
	margin: 0.2em 0.3em 0.2em 0.2em;
}
section.zoeken div>p + label {
	display: none;
}

/* AddFotos */
form.fotos input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
form.fotos label {
	background-color: white;
	border: 1px solid black;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.6em;
	font-size: 3em;
}
form.fotos label:not(:first-child) {
	display: none
}
form.fotos>div:first-of-type>label:first-of-type {
	width: 2.2em;
	height: 2.2em;
	line-height: 2.05em;
	font-size: 5em;
}
form.fotos label p {
	margin: 0;
	padding-left: 0.5em;
}
form.fotos>div:first-of-type>label p {
	padding-left: 0.8em;
}
form.fotos label img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border: none;
	border-radius: 0;
	padding: 0;
}
form.fotos>div {
	justify-content: flex-start;
}
form.fotos>div:first-of-type div {
	margin-left: 2em;
}
form.fotos>div:first-of-type div label:last-of-type {
	margin-top: auto;
}
form.fotos>div:not(:first-of-type) {
	margin-top: 1.5em;
}
form.fotos>div:not(:first-of-type) label:not(:first-of-type) {
	margin-left: 0.48em;
}
form.fotos>div:last-of-type>img {
	position: absolute;
	bottom: 4em;
}

/* Persoon Partial */
form.persoon label {
	font-size: 0.9em;
	margin-bottom: 0.5em;
	background-color: white;
	border: 1px solid black;
	padding: 0 0.25em;
}
form.persoon>label {
	width: 60vw;
	height: auto;
}
form.persoon div div:nth-of-type(2) label {
	height: 4.85em;
	overflow-y: scroll;
}

/* AddZoekopdracht */
form.zoekopdracht div {
	flex-direction: column;
}
form.zoekopdracht>div {
	margin-bottom: 1em;
}
form.zoekopdracht label {
	width: 100vw;
}
form.zoekopdracht input {
	margin-left: 0.8em;
	margin-bottom: 0.15em;
}
form.zoekopdracht>div>label {
	font-size: 1.1em;
	margin-bottom: 0.4em;
}
form.zoekopdracht>div>div>input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
form.zoekopdracht>div>div>label {
	background-color: white;
	border: 1px solid black;
	width: 100%;
	height: 100%;
	padding: 0.15em 0.5em;
}
form.zoekopdracht>div>div>div>label,
form.zoekopdracht>div>div>div>input {
	margin-top: auto;
}
form.zoekopdracht div div {
	display: flex;
	flex-direction: row;
}
form.zoekopdracht div div label:not(:first-of-type) {
	margin-left: 0.6em;
}
form.zoekopdracht select {
	width: 40vw;
	margin: 0;
	padding: 0.15em 0.4em;
}
form.zoekopdracht>div:nth-of-type(4)>div>div>input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
form.zoekopdracht>div:nth-of-type(4)>div>div>label {
	background-color: white;
	border: 1px solid black;
	width: 100%;
	height: auto;
	padding: 0.15em 0.5em;
}
form.zoekopdracht>div:nth-of-type(4)>div {
	flex-direction: column;
}
form.zoekopdracht>div:nth-of-type(4)>div>div {
	margin-bottom: 0.5em;
}
form.zoekopdracht>div:last-of-type>img {
	position: absolute;
	bottom: 4em;
}
form.zoekopdracht>div:nth-of-type(4)>div>div>label:hover,
form.zoekopdracht>div>div>label:hover,
form.zoekopdracht>div>div>input:checked + label,
form.zoekopdracht>div:nth-of-type(4)>div>div>input:checked + label,
form.zoekopdracht select.checked {
	background-color: #B4DAA1;
}

/* AddReizen */
form.reizen>div:first-of-type{
	flex-wrap: wrap;
	justify-content: flex-start
}
form.reizen>div:first-of-type label {
	background-color: white;
	border: 1px solid black;
	width: fit-content;
	height: 100%;
	padding: 0.15em 0.5em;
	margin-top: 0.5em;
}
form.reizen>div:first-of-type label:not(:last-of-type) {
	margin-right: 1em;
}
form.reizen>div:first-of-type label:hover,
form.reizen>div:first-of-type label.checked {
	background-color: #B4DAA1;
}
form.reizen>div:nth-of-type(2) {
	flex-direction: column;
}
form.reizen>div:nth-of-type(2)>label {
	margin-top: 1.5em;
}
form.reizen>div:nth-of-type(2) div {
	display: none;
	flex-direction: column;
	border: 1px solid black;
	height: fit-content;
	max-height: 45vh;
	width: 89vw;
	overflow: scroll;
	margin-top: 0.5em;
	padding: 0.5em 0;
}
form.reizen>div:not(:first-of-type) label {
	display: flex;
	flex-direction: row;
}
form.reizen>div:last-of-type>img {
	position: absolute;
	bottom: 4em;
}

/* Footer */
footer {
	width: 90vw;
	position: fixed;
	bottom: 0.5em;
	right: auto;
	left: auto;
	display: flex;
	justify-content: center;
}
footer img {
	width: 2.5em;
	height: auto;
}
footer img:nth-of-type(1),
footer img:nth-of-type(3),
footer img:nth-of-type(5),
footer img:nth-of-type(7) {
	margin: auto -0.3em;
}