<footer>
    <a href="matches.html">
        <span class="material-icons md-36">
            favorite
        </span>
    </a>
    <a href="index.html">
        <span class="material-icons md-36">
            search
        </span>
    </a>   
    <a href="profile.html"> 
        <span class="material-icons md-36">
            person
        </span>
    </a> 
</footer>