<footer>
<<<<<<< HEAD
    <a href="matches.html">
        <span class="material-icons md-36">
            favorite
        </span>
    </a>
    <a href="index.html">
        <span class="material-icons md-36">
            search
        </span>
    </a>   
    <a href="profile.html"> 
        <span class="material-icons md-36">
            person
        </span>
    </a> 
</footer>
=======
    <a href="/liked">
        <span class="material-icons md-36">
            favorite
            </span>
    </a>
    <a href="/"><span class="material-icons md-36">
        search
        </span></a>   
    <a href="/profile"> 
        <span class="material-icons md-36">
            person
            </span>
    </a> 
</footer>
>>>>>>> 333c29e958dde6127d86774b1fc6d743374dffa8
