<footer>
    <a href="explore.html"><img src="images/app/explore.svg" alt="Explore"></a> 
    <a href="matches.html"><img src="images/app/matches.svg" alt="Matches"></a>  
     <a href="profile.html"><img src="images/app/profile.svg" alt="Profile"></a> 
  </footer>