<footer>
    <a href="/liked">
        <span class="material-icons md-36">
            favorite
            </span>
    </a>
    <a href="/"><span class="material-icons md-36">
        search
        </span></a>   
    <a href="/profile"> 
        <span class="material-icons md-36">
            person
            </span>
    </a> 
</footer>
