<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<header>
    <img src="img/banner.svg" alt="header">
<nav>
    <a href="index.html"><img src="img/explore.svg" alt="explore"></a>
    <a href="matches.html"><img src="img/matches.svg" alt="Matches"></a>
    <a href="profile.html"><img src="img/profile.svg" alt="Profile"></a>

</nav>
<h1><%= title %></h1>
</header>
<body>
    
</body>
</html>