<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="style.css">
    <title>Explore</title>
</head>
<body>
   <header class="header">


   </header>
   <h1> <%= title %></h1>
   <footer>
     <a href="index.html"><img src="img/explore.svg" alt="Explore"></a> 
     <a href="matches.html"><img src="img/matches.svg" alt="Matches"></a>  
      <a href="profile.html"><img src="img/profile.svg" alt="Profile"></a> 
   </footer>
</body>
</html>